{% include "feedapp/header.html" %}
<style type="text/css">
	
	.gallery
{
	width:200px;
	height: 200px;
	float:left;
	background-color: orange;
	border: 1px solid red;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 10px; ;
	
}
img
{
	width:200px;
	height: 200px;


}
</style>
<section>
	
<h1>Welcome in Gallery Page</h1>

<div class="gallery">
<img src="/static/img/img1.jpg" />
</div>
<div class="gallery">
<img src="/static/img/img3.jpg" />
</div>
<div class="gallery">
<img src="/static/img/img3.jpg" />
</div>

<div class="gallery">
<img src="/static/img/img4.jpg" />
</div>
<div class="gallery">
<img src="/static/img/img5.jpg" />
</div>
<div class="gallery">
<img src="/static/img/img1.jpg" />
</div>
<div class="gallery">
<img src="/static/img/img5.jpg" />
</div>
<div class="gallery">
<img src="/static/img/img3.jpg" />
</div>
</section>

{% include "feedapp/footer.html" %}